@use "_variables";

.bodyCanvas {
  font-family: variables.$KhulaFont;
  color: variables.$body-text-color;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  background-color: variables.$primary-color;
  transition: variables.$primary-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
}
