@use "_variables";

:root {
  --canvas-background: #FFFFFF;
}

.paintCanvas {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  background-color: white;
  flex: 1;
}