@use "_variables";

/* src/App.module.css */
.mainContent {
  display: flex;
  flex-grow: 1; 
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden; 
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  min-height: 500px;
}

.canvasContainer {
  display: flex; 
  flex-grow: 1 1 auto; 
  position: relative;
  overflow: hidden; 
  outline: 5px solid variables.$cafe-brown;
  background-color: white;
  width: 100%;
  min-height: 100%;
  min-width: 500px;
}

/* Responsive adjustments */
@media (min-width: 768px) AND (max-width: 900px) {
  .mainContent {
    padding: 1.5rem;
    flex-direction: column;
    align-items: stretch;
    min-width: 1500px;
  }

  .canvasContainer {
    min-width: 600px;
  }
}

@media (min-width: 600px) AND (max-width: 767px) {
  .mainContent {
    padding: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
    align-items: stretch;
  }
}