@use "_variables";

header {
    align-items: center;
    position: sticky;
    z-index: 99;
}

.navigator {
    position: sticky;    
    top: 0;
    background-color: variables.$lion-brown;
    padding: 2rem;
    z-index: 99;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10rem;
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    
}

.bordertop { 
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.backtotopdiv:hover {
    #backtotopborder {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: all ease-in-out;
    }
}

#backtotopbutton {
    position: fixed;
    background-color: variables.$lion-brown;

    bottom: 20px;
    left: 30px;
    z-index: 99;
    outline: none;

    cursor: pointer;
    padding: 15px;
    border-radius: 200px;

    img {
        width: 80%;
        padding: 0;
        justify-self: center;
    }
}

#backtotopbutton:hover {
    left: 31px;
}

#backtotopborder {
    position: fixed;
    width: 85px;

    background: none;

    bottom: 15px;
    left: 26px;
    z-index: 98;
    outline: none;

    animation: spin 35s infinite linear;
}

#backtotopbutton:hover {
    background-color: #E1B576;
    border: 0 none;
}

.cafewhitebtn {
    background: variables.$cafe-brown;  
    color: variables.$secondary-color;
}

.yellowbtn { 
    background: variables.$camel-brown;  
    color: variables.$primary-color;
}


.gotit {
    .cafewhitebtn {
        margin-top: 50px;
        display: inline-flex;
        margin-right: auto; 
        margin-left: auto;
        align-items: center;
        justify-content: center;

    img {
        width: 2em;
        height: auto;
        margin-right: 1em;
        }
    }
}

.yellowbtn {
    margin-right: auto; 
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
        width: 2em;
        height: auto;
        margin-right: 1em;
    }
}

.btn-shadow-drop-yellow {  
    position: relative;   
    padding: 20px 50px 20px 50px;
    font-size: 0.9em;  
    font-weight: 700;  
    letter-spacing: 2px;  
    text-transform: uppercase;  
    transition: 0.3s ease-in-out;  
    left: 0px;  
    top: 0px;  
    width: auto;
}  

.btn-shadow-drop-yellow:hover {  
    left: 4px;  
    top: 4px;  
    box-shadow: #735840 0px 0px 0px 0px;
}  

.btn-shadow-drop--yellowblack {  
    border: none;  
    box-shadow: #735840 5px 5px 0px 0px;
}  

.btn {  
    font-family: variables.$CandalFont;  
    text-transform: uppercase;
    border-radius: 0;
    white-space: nowrap; 
}  

.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  

.btn-shadow-drop {  
    position: relative;   
    padding: 20px;  
    font-size: 0.9em;  
    font-weight: 700;  
    letter-spacing: 2px;  
    text-transform: uppercase;  
    transition: 0.3s ease-in-out;  
    left: 0px;  
    top: 0px;  
    width: 180px;
}  

.btn-shadow-drop:hover {  
    left: 4px;  
    top: 4px;  
    box-shadow: #2A2119 0px 0px 0px 0px;
}  

.btn-shadow-drop--black {  
    border: none;  
    box-shadow: #2A2119 5px 5px 0px 0px;
}

@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
}