@use "_variables";

body {
    background-color: variables.$primary-color;
}

.index {
    display: grid;
    grid-template-areas: "navbar"
    "opening"
    "instr1"
    "instr2"
    "instr3"
    "gotit"
    "footer";
    grid-template-rows: auto 400px auto auto auto auto 360px;
}

.opening {
    grid-area: opening;
    display: flex;
    grid-template-areas: "panel1 panel2 panel3 panel4";
    grid-template-columns: repeat(4,25%);
    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
}

.frontheading {
    display: flex;
    flex-flow: column wrap;
    font-family: variables.$CandalFont;
    color: variables.$cafe-brown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.panel1 {
    grid-area: panel1;
    width: 110%;
}

.panel2 {
    grid-area: panel2;
    width: 110%;
}

.panel3 {
    grid-area: panel3;
    width: 110%;
}

.panel4 {
    grid-area: panel4;
    width: 110%;
}

.instr1, .instr2, .instr3, .gotit {
    height: 560px;
}

.instr1 {
    grid-area: instr1;
}

.instr2 {
    grid-area: instr2;
}

.instr3 {
    grid-area: instr3;
}

.instructions {
    color: variables.$body-text-color;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left
}

.instr1, .instr3 {
    background-color: variables.$secondary-color;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    color: variables.$body-text-color;
    padding-top: 4em;

    .instrcontainerleft {
        display: grid;
        grid-template-areas: "img text"
        "img text";
    }

    img {
        grid-area: img;
    }
}

.instr2 {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    color: variables.$body-text-color;
    padding-top: 4em;
}

.gotit {
    grid-area: gotit;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
	justify-content: flex-start;

    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    padding-top: 4em;
}

.footer {
    grid-area: footer;
    background-color: variables.$cafe-brown;
    height: 360px;
}

@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
}

$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  width: 100%;
  padding-left: 100%;

  .ticker {
    padding-right: 100%;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {
      display: inline-block;
    }
  }
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

// Styling
.slider {
	background: none;
	height: 100px;
	margin: auto;
	overflow: hidden;
	width: 960px;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $duration linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}