@use "_variables";

// Duration for animations
$duration: 30s;

// Animations
@mixin floatElement () {
    @keyframes #{$float} {
    0% {
        transform: translatey(0px);
    }
     50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
    }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float-reverse {
	0% {
		transform: translatey(-10px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-10px);
	}
}

@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

// Styling
body {
    background-color: variables.$primary-color;
}

.index {
    display: grid;
    grid-template-areas: "navbar"
    "opening"
    "instr1"
    "instr2"
    "instr3"
    "gotit"
    "footer";
    grid-template-rows: auto 400px auto auto auto auto 360px;

    span {
        font-size: 20px;
        font-weight: bold;
    }
}

.opening {
    grid-area: opening;
    display: flex;
    
    grid-template-areas: "panel1 panel2 panel3 panel4";
    grid-template-columns: repeat(4,25%);
    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;

    background: url(./assets/hangitopening.gif) no-repeat center center fixed;
    background-size: cover;

    button {
        margin-top: 3rem;
    }
}

.frontheading {
    display: flex;
    flex-flow: column wrap;
    font-family: "Candal", sans-serif;
    color: variables.$cafe-brown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#floatanimation {
    overflow: hidden;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.panel1 {
    grid-area: panel1;
    width: 110%;
}

.panel2 {
    grid-area: panel2;
    width: 110%;
}

.panel3 {
    grid-area: panel3;
    width: 110%;
}

.panel4 {
    grid-area: panel4;
    width: 110%;
}

.instr1 {
    grid-area: instr1;

    img {
        height: 28em;
    }
}

.instr2 {
    grid-area: instr2;
}

.instr3 {
    grid-area: instr3;
}

.instructions {
    color: variables.$body-text-color;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.instrcontainerleft {
    display: grid;
    grid-template-areas: "img info"
    "img info";
}

.instrcontainerright {
    display: grid;
    grid-template-areas: "info img"
    "info img"
}

.instr1, .instr3 {
    background-color: variables.$secondary-color;
}

.instr2 {
    img {
        height: 70%;
    }
}

.border-instructions {
    position: absolute;
    top: 60rem;

    img {
        height: 100%;
    }

    &::before,
	&::after {
		content: "";
		height: 350px;
		position: absolute;
		width: 350px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.border-track {
		animation: scroll $duration linear infinite;
		display: flex;
		width: calc(350px * 14);
	}
	
	.border-filler {
		height: 350px;
		width: 300px;
	}
}

.instr3 {
    img {
        height: 80%;
    }
}

.instr1, .instr2, .instr3 {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    color: variables.$body-text-color;
    padding-top: 4em;
    padding-bottom: 2em;

    img {
        grid-area: img;
        object-fit: cover;
    }

    p {
        grid-area: info;
        align-self: center;
        font-size: 18px;
        margin: 2rem 4rem 3rem 2rem;
        text-align: justify;
    }
}

.gotit {
    grid-area: gotit;
    display: grid;
    grid-template-areas: "title . button"
    "title . button"
    "slider slider slider"
    "slider slider slider";
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,1fr);
    column-gap: 4rem;
    color: variables.$body-text-color;
    margin-top: 2em;
    align-content: start;

    .gotitheader {
        grid-area: title;
        padding-inline-start: 5rem;
        white-space: nowrap;

        p {
            font-size: 20px;
        }
    }

    .button-panel {
        padding-inline-end: 5rem;
        grid-area: button;
        display: grid;
        align-self: start;

        button {       
            width: 20em;
            justify-self: start;
         }
    }

    .slider {
        grid-area: slider;
    }
}

.footer {
    grid-area: footer;
    display: flex;
    background-color: variables.$cafe-brown;
    height: 360px;
    align-items: baseline;
    justify-content: center;
    text-align: center;

    background: url(./assets/footer.gif) no-repeat center center fixed;
    background-size: cover;

    img {
        margin: auto 3rem auto auto;
    }

    .yearfooter {
        font-family: "Candal", sans-serif;
        margin: auto auto auto 0;
    }
}

.instr1, .instr2, .instr3, .gotit {
    max-height: 520px;
}

.ticker-wrap {
  width: 100%;
  padding-left: 100%;

  .ticker {
    padding-right: 100%;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {
      display: inline-block;
    }
  }
}


.slider {
	background: none;
	height: 350px;
	margin: auto;
    margin-top: 17rem;
	overflow: hidden;
	width: 100vw;
	
	&::before,
	&::after {
		content: "";
		height: 350px;
		position: absolute;
		width: 350px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $duration linear infinite;
		display: flex;
		width: calc(350px * 14);
	}
	
	.slide {
		height: 350px;
		width: 300px;
	}
}


// Mobile responsiveness
@media (max-width: 768px) {
  .index {
    grid-template-rows: auto auto auto auto auto auto auto; 
  }

  .opening {
    padding-bottom: 2rem;
    
    .frontheading {
      h1 {
        font-size: 2rem; 
      }
    }
  }

  .panel1, .panel2, .panel3, .panel4 {
    width: 100%;
  }

  .instructions {
    font-size: 2rem; 
    text-align: center;
  }

  .instrcontainerleft, .instrcontainerright {
    grid-template-areas: "img" 
                         "info";
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  .instr1, .instr2, .instr3 {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    img {
      height: auto;
      max-height: 28em; 
    }

    p {
      font-size: 16px;
      margin: 1rem;
      text-align: left;
    }
  }

  #imageyup {
    max-height: 35em;
    margin-left: 3em;
  }

  #imageyup2 {
    margin-left: 2em;

  }

  .border-instructions {
    display: none;
  }

  .gotit {
    grid-template-areas: "title" "button" "slider";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0;
    padding: 1rem;

    .gotitheader {
      padding-inline-start: 0;
      text-align: center;

      p {
        font-size: 18px;
      }
    }

    .button-panel {
      padding-inline-end: 0;
      justify-content: center;

      button {
        width: 100%;
        max-width: 20rem;
      }
    }
  }

  .slider {
    height: 200px;
    margin-top: 2rem;
    width: 100%;

    &::before, &::after {
      height: 150px;
      width: 150px;
    }

    .slide-track {
      width: calc(150px * 14);
    }

    .slide {
      height: 150px;
      width: 120px;
    }
  }

  .footer {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;

    img {
      margin: 0 auto 1rem auto;
      width: 80%;
    }

    .yearfooter {
      margin: auto;
    }
  }

  .instr1, .instr2, .instr3, .gotit {
    max-height: none;
  }
}