@use "_variables";

body {
    background-color: variables.$primary-color;
}

.index {
    display: grid;
    grid-template-areas: "navbar"
    "opening"
    "instr1"
    "instr2"
    "instr3"
    "gotit"
    "footer";
    grid-template-rows: auto 380px 560px 560px 560px 360px;
}

header {
    align-items: center;
    position: sticky;
}

.navigator {
    position: sticky;
    top: 0;
    background-color: variables.$lion-brown;
    padding: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10rem;
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;

    a {
        color: white;
        margin: 0 2rem;
        }
}

.bordertop { 
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.opening {
    grid-area: opening;
    display: flex;
    grid-template-areas: "panel1 panel2 panel3 panel4";
    grid-template-rows: none;
    grid-template-columns: repeat(4,25%);
    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
}


.frontheading {
    display: flex;
    flex-flow: column wrap;

    font-family: variables.$CandalFont;
    color: variables.$cafe-brown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 29rem;
}

.panel1 {
    grid-area: panel1;
    width: 110%;
}

.panel2 {
    grid-area: panel2;
    width: 110%;
}

.panel3 {
    grid-area: panel3;
    width: 110%;
}

.panel4 {
    grid-area: panel4;
    width: 110%;
}

.instr1, .instr2, .instr3, .gotit {
    height: 560px;
}

.instr1, .instr3 {
    background-color: variables.$secondary-color;
}

.instr1 {
    grid-area: instr1;
}

.instr2 {
    grid-area: instr2;
}

.instr3 {
    grid-area: instr3;
}

.gotit {
    grid-area: gotit;
}

.footer {
    grid-area: footer;
    background-color: variables.$cafe-brown;
    height: 360px;
}

.backtotopdiv:hover {

    #backtotopborder{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.3s 0.2s;
    }
}

#backtotopbutton {
    position: fixed;
    background-color: variables.$lion-brown;

    bottom: 20px;
    left: 30px;
    z-index: 99;
    outline: none;

    cursor: pointer;
    padding: 15px;
    border-radius: 200px;

    img {
        width: 80%;
        padding: 0;
    }
}

#backtotopbutton:hover {
    left: 31px;
}

#backtotopborder {
    position: fixed;
    width: 85px;

    background: none;

    bottom: 15px;
    left: 26px;
    z-index: 98;
    outline: none;
}

#backtotopbutton:hover {
    background-color: #E1B576;
    border: 0 none;
}

.cafewhitebtn {
    background: variables.$cafe-brown;  
    color: variables.$secondary-color;
}

.btn {  
    font-family: variables.$CandalFont;  
    text-transform: uppercase;
    border-radius: 0;
}  

.btn:hover .btn-slide-show-text1 {  
    margin-left: 65px;
}  

.btn-shadow-drop {  
    position: relative;   
    padding: 20px;  
    font-size: 0.9em;  
    font-weight: 700;  
    letter-spacing: 2px;  
    text-transform: uppercase;  
    transition: 0.3s ease-in-out;  
    left: 0px;  
    top: 0px;  
    width: 180px;
}  

.btn-shadow-drop:hover {  
    left: 4px;  
    top: 4px;  
    box-shadow: #2A2119 0px 0px 0px 0px;
}  

.btn-shadow-drop--black {  
    border: none;  
    box-shadow: #2A2119 5px 5px 0px 0px;
}  

@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
}