@use "_variables";

body {
    background-color: variables.$primary-color;
}

.index {
    display: grid;
    grid-template-areas: "navbar"
    "opening"
    "instr1"
    "instr2"
    "instr3"
    "gotit"
    "footer";
    grid-template-rows: auto 380px 560px 560px 560px 360px;
}

header {
    align-items: center;
    position: sticky;
}

.navigator {
    position: sticky;
    top: 0;
    background-color: variables.$lion-brown;
    padding: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10rem;
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;

    a {
        color: white;
        margin: 0 2rem;
        }
}

.opening {
    grid-area: opening;
    display: flex;
    grid-template-areas: "panel1 panel2 panel3 panel4";
    grid-template-rows: none;
    grid-template-columns: repeat(4,25%);
    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;

    .frontheading {
        font-family: variables.$CandalFont;
        color: variables.$cafe-brown;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
    }
}

.panel1 {
    grid-area: panel1;
}

.panel2 {
    grid-area: panel2;
}

.panel3 {
    grid-area: panel3;
}

.panel4 {
    grid-area: panel4;
}

.instr1, .instr2, .instr3, .gotit {
    height: 560px;
}

.instr1, .instr3 {
    background-color: variables.$secondary-color;
}

.instr1 {
    grid-area: instr1;
}

.instr2 {
    grid-area: instr2;
}

.instr3 {
    grid-area: instr3;
}

.gotit {
    grid-area: gotit;
}

.footer {
    grid-area: footer;
    background-color: variables.$cafe-brown;
    height: 360px;
}

.backtotopdiv:hover {
    #backtotopborder{
        animation: spin 35s infinite linear;
        left: 23px;
    }
}

#backtotopbutton {
    position: fixed;
    background-color: variables.$lion-brown;

    bottom: 20px;
    left: 30px;
    z-index: 99;
    outline: none;

    cursor: pointer;
    padding: 15px;
    border-radius: 200px;

    img {
        width: 80%;
        object-fit: fit;
        padding: 0;
    }
}

#backtotopborder {
    position: fixed;
    background: none;

    bottom: 13px;
    left: 24px;
    z-index: 98;
    outline: none;

    cursor: pointer;
    padding: 0;
    height: 12%;
}

#backtotopbutton:hover {
    background-color: #E1B576;
    border: 0 none;

    img {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}


@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
}