@use "_variables";

body {
    background-color: variables.$primary-color;
}

.index {
    display: grid;
    grid-template-areas: "navbar"
    "opening"
    "instr1"
    "instr2"
    "instr3"
    "gotit"
    "footer";
    grid-template-rows: auto 400px auto auto auto auto 360px;

    span {
        font-size: 20px;
        font-weight: bold;
    }
}

.opening {
    grid-area: opening;
    display: flex;
    grid-template-areas: "panel1 panel2 panel3 panel4";
    grid-template-columns: repeat(4,25%);
    align-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
}

.frontheading {
    display: flex;
    flex-flow: column wrap;
    font-family: variables.$CandalFont;
    color: variables.$cafe-brown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.panel1 {
    grid-area: panel1;
    width: 110%;
}

.panel2 {
    grid-area: panel2;
    width: 110%;
}

.panel3 {
    grid-area: panel3;
    width: 110%;
}

.panel4 {
    grid-area: panel4;
    width: 110%;
}

.instr1 {
    grid-area: instr1;

    img {
        height: 29em;
    }
}

.instr2 {
    grid-area: instr2;
}

.instr3 {
    grid-area: instr3;
}

.instructions {
    color: variables.$body-text-color;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left
}

.instrcontainerleft {
    display: grid;
    grid-template-areas: "img info"
    "img info";
}

.instrcontainerright {
    display: grid;
    grid-template-areas: "info img"
    "info img"
}

.instr1, .instr3 {
    background-color: variables.$secondary-color;
}

.instr2 {
    img {
        height: 70%;
    }
}

.instr3 {
    img {
        height: 80%;
    }
}

.instr1, .instr2, .instr3 {
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    color: variables.$body-text-color;
    padding-top: 4em;
    padding-bottom: 2em;

    img {
        grid-area: img;
        object-fit: cover;
    }

    p {
        grid-area: info;
        align-self: center;
        font-size: 18px;
    }
}

.gotit {
    grid-area: gotit;
    display: grid;
    grid-template-areas: "title . button"
    "title . button"
    "slider slider slider"
    "slider slider slider";
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4,1fr);
    column-gap: 4rem;
    color: variables.$body-text-color;
    margin-top: 2em;
    justify-content: start;

    .gotitheader {
        grid-area: title;
        padding-inline-start: 5rem;
        white-space: nowrap;

        p {
            font-size: 20px;
        }
    }

    .button-panel {
        padding-inline-end: 5rem;
        grid-area: button;
        display: flex;
        flex-flow: column wrap;

        button {       
            width: 25em;
         }
    }

    .slider {
        grid-area: slider;
    }
}

.footer {
    grid-area: footer;
    display: flex;
    background-color: variables.$cafe-brown;
    height: 360px;
    align-items: baseline;
    justify-content: center;
    text-align: center;

    img {
        margin: auto 3rem auto auto;
    }

    .yearfooter {
        font-family: variables.$CandalFont;
        margin: auto auto auto 0;
    }
}

.instr1, .instr2, .instr3, .gotit {
    max-height: 520px;
}

@keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
}

$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  width: 100%;
  padding-left: 100%;

  .ticker {
    padding-right: 100%;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {
      display: inline-block;
    }
  }
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

// Styling
.slider {
	background: none;
	height: 200px;
	margin: auto;
	overflow: hidden;
	width: 100vw;
	
	&::before,
	&::after {
		content: "";
		height: 200px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $duration linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 200px;
		width: 250px;
	}
}