@use "_variables";

.wrapper, .wrapper2 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 100vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: variables.$body-text-color;
}

.wrapper2 {
  background: url(./assets/hangitopening.gif) no-repeat center center fixed;
  background-size: cover;
}

.wrapper p {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.illustration {
  display: flex;
  flex-flow: column;
  max-height: 85vh;
  outline: 5px solid variables.$cafe-brown;

  h3 {
    padding-inline-start: 4rem;
    text-transform: uppercase;  
  }
}

.form {
  padding: 1.5rem;
  -ms-flex-preferred-size: 100vw;
  flex-basis: 100vw;
}

.form .heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.or {
  margin: 1rem 0;
}

.form label {
  display: block;
  margin: 1.25rem 0 1rem 0;
}

.form input {
  text-align: left;
  height: 2rem;
  width: 10rem;
  padding: .5rem 1.5rem .5rem .5rem;

  background-color: variables.$secondary-color;
  color: variables.$body-text-color;
  border: 2px solid variables.$lion-brown;
}

.form input:focus {
  outline: none;
  border: 2px solid variables.$cafe-brown;
}

.form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px variables.$lion-brown inset !important;
  background-color: variables.$primary-color !important;
  border: 2px solid variables.$cafe-brown;
}

.form input:-moz-autofill {
  box-shadow: 0 0 0 1000px variables.$lion-brown inset !important;
  background-color: variables.$primary-color !important;
  border: 2px solid variables.$cafe-brown;
}

.form input:autofill {
  box-shadow: 0 0 0 1000px variables.$lion-brown inset !important;
  background-color: variables.$primary-color !important;
  border: 2px solid variables.$cafe-brown;
}

.form input:type {
  background-color: variables.$primary-color !important;
}

.form button {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.5rem;
  border-radius: 0;
  text-align: center;
}

#e-mail {
  width: 90%;
  min-width: 15rem;

}

#loginname {
  width: 90%;
  min-width: 15rem;
}

// Canvas section
.canvas-register {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  background-color: variables.$secondary-color;
  flex: 1;
}


@media (min-width: 542px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1.5rem;
  }

  .wrapper2 {
    justify-content: center;
  
    #pinfo {
      text-align: center;
    }
  }

  .form {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .form input {
    width: 90%;
  }

}

@media (max-width: 680px) {
  .illustration {
    display: none;
  }
}

.signUp .illustration {
  order: 2;
  justify-self: flex-end;
  margin-left: 2rem;
}