// Fonts
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Khula:wght@300;400;600;700;800&display=swap');

$Candalfont: "Candal", sans-serif;
$KhulaFont: "Khula", sans-serif, khula-regular;

#khula-regular {
    font-weight: 400;
}

// Design Guide Colours
$primary-color: #FFFD77;
$secondary-color: #F2F7BF;
$body-text-color: #322217;
$camel-brown: #A27035;
$lion-brown: #B88B4A;
$cafe-brown: #533E2D;

