@import url("https://fonts.googleapis.com/css2?family=Candal&family=Khula:wght@300;400;600;700;800&display=swap");
#khula-regular {
  font-weight: 400;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float-reverse {
  0% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-10px);
  }
}
@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
body {
  background-color: #FFFD77;
}

.index {
  display: grid;
  grid-template-areas: "navbar" "opening" "instr1" "instr2" "instr3" "gotit" "footer";
  grid-template-rows: auto 400px auto auto auto auto 360px;
}
.index span {
  font-size: 20px;
  font-weight: bold;
}

.opening {
  grid-area: opening;
  display: flex;
  grid-template-areas: "panel1 panel2 panel3 panel4";
  grid-template-columns: repeat(4, 25%);
  align-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  background: url(./assets/hangitopening.gif) no-repeat center center fixed;
  background-size: cover;
}
.opening button {
  margin-top: 3rem;
}

.frontheading {
  display: flex;
  flex-flow: column wrap;
  font-family: "Candal", sans-serif;
  color: #533E2D;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#floatanimation {
  overflow: hidden;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.panel1 {
  grid-area: panel1;
  width: 110%;
}

.panel2 {
  grid-area: panel2;
  width: 110%;
}

.panel3 {
  grid-area: panel3;
  width: 110%;
}

.panel4 {
  grid-area: panel4;
  width: 110%;
}

.instr1 {
  grid-area: instr1;
}
.instr1 img {
  height: 28em;
}

.instr2 {
  grid-area: instr2;
}

.instr3 {
  grid-area: instr3;
}

.instructions {
  color: #322217;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.instrcontainerleft {
  display: grid;
  grid-template-areas: "img info" "img info";
}

.instrcontainerright {
  display: grid;
  grid-template-areas: "info img" "info img";
}

.instr1, .instr3 {
  background-color: #F2F7BF;
}

.instr2 img {
  height: 70%;
}

.border-instructions {
  position: absolute;
  top: 60rem;
}
.border-instructions img {
  height: 100%;
}
.border-instructions::before, .border-instructions::after {
  content: "";
  height: 350px;
  position: absolute;
  width: 350px;
  z-index: 2;
}
.border-instructions::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.border-instructions::before {
  left: 0;
  top: 0;
}
.border-instructions .border-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: 4900px;
}
.border-instructions .border-filler {
  height: 350px;
  width: 300px;
}

.instr3 img {
  height: 80%;
}

.instr1, .instr2, .instr3 {
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
  color: #322217;
  padding-top: 4em;
  padding-bottom: 2em;
}
.instr1 img, .instr2 img, .instr3 img {
  grid-area: img;
  -o-object-fit: cover;
     object-fit: cover;
}
.instr1 p, .instr2 p, .instr3 p {
  grid-area: info;
  align-self: center;
  font-size: 18px;
  margin: 2rem 4rem 3rem 2rem;
  text-align: justify;
}

.gotit {
  grid-area: gotit;
  display: grid;
  grid-template-areas: "title . button" "title . button" "slider slider slider" "slider slider slider";
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, 1fr);
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  color: #322217;
  margin-top: 2em;
  align-content: start;
}
.gotit .gotitheader {
  grid-area: title;
  padding-inline-start: 5rem;
  white-space: nowrap;
}
.gotit .gotitheader p {
  font-size: 20px;
}
.gotit .button-panel {
  padding-inline-end: 5rem;
  grid-area: button;
  display: grid;
  align-self: start;
}
.gotit .button-panel button {
  width: 20em;
  justify-self: start;
}
.gotit .slider {
  grid-area: slider;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: #533E2D;
  height: 360px;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  background: url(./assets/footer.gif) no-repeat center center fixed;
  background-size: cover;
}
.footer img {
  margin: auto 3rem auto auto;
}
.footer .yearfooter {
  font-family: "Candal", sans-serif;
  margin: auto auto auto 0;
}

.instr1, .instr2, .instr3, .gotit {
  max-height: 520px;
}

.ticker-wrap {
  width: 100%;
  padding-left: 100%;
}
.ticker-wrap .ticker {
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
}

.slider {
  background: none;
  height: 350px;
  margin: auto;
  margin-top: 17rem;
  overflow: hidden;
  width: 100vw;
}
.slider::before, .slider::after {
  content: "";
  height: 350px;
  position: absolute;
  width: 350px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: 4900px;
}
.slider .slide {
  height: 350px;
  width: 300px;
}

header {
  align-items: center;
  position: sticky;
  z-index: 99;
}

.navigator {
  position: sticky;
  top: 0;
  background-color: #B88B4A;
  padding: 2rem;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  margin: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

.bordertop {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.backtotopdiv:hover #backtotopborder {
  transform: scale(1.1);
  transition: all ease-in-out;
}

#backtotopbutton {
  position: fixed;
  background-color: #B88B4A;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 200px;
}
#backtotopbutton img {
  width: 80%;
  padding: 0;
  justify-self: center;
}

#backtotopbutton:hover {
  left: 31px;
}

#backtotopborder {
  position: fixed;
  width: 85px;
  background: none;
  bottom: 15px;
  left: 26px;
  z-index: 98;
  outline: none;
  animation: spin 35s infinite linear;
}

#backtotopbutton:hover {
  background-color: #E1B576;
  border: 0 none;
}

.cafewhitebtn {
  background: #533E2D;
  color: #F2F7BF;
}

.yellowbtn {
  background: #A27035;
  color: #FFFD77;
}

.gotit .cafewhitebtn {
  margin-top: 50px;
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}
.gotit .cafewhitebtn img {
  width: 2em;
  height: auto;
  margin-right: 1em;
}

.yellowbtn {
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.yellowbtn img {
  width: 2em;
  height: auto;
  margin-right: 1em;
}

.btn-shadow-drop-yellow {
  position: relative;
  padding: 20px 50px 20px 50px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  left: 0px;
  top: 0px;
  width: auto;
}

.btn-shadow-drop-yellow:hover {
  left: 4px;
  top: 4px;
  box-shadow: #735840 0px 0px 0px 0px;
}

.btn-shadow-drop--yellowblack {
  border: none;
  box-shadow: #735840 5px 5px 0px 0px;
}

.btn {
  font-family: "Candal", sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  white-space: nowrap;
}

.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}

.btn-shadow-drop {
  position: relative;
  padding: 20px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  left: 0px;
  top: 0px;
  width: 180px;
}

.btn-shadow-drop:hover {
  left: 4px;
  top: 4px;
  box-shadow: #2A2119 0px 0px 0px 0px;
}

.btn-shadow-drop--black {
  border: none;
  box-shadow: #2A2119 5px 5px 0px 0px;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
.bodyCanvas {
  font-family: "Khula", sans-serif, khula-regular;
  color: #322217;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-height: 90vh;
  min-width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
  background-color: #FFFD77;
  transition: #FFFD77 0.3s ease, color 0.3s ease;
  overflow: hidden;
}

.headinggallery {
  text-align: center;
  margin: auto;
}
.headinggallery h1 {
  color: #533E2D;
}

.embla {
  max-width: 90vw;
  margin: auto;
  --slide-height: 35rem;
  --slide-spacing: 1rem;
  --slide-size: 98%;
  min-height: 90vh;
}

section {
  background-color: #FFFD77;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  grid-area: slide;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  background-color: #FFFD77;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  background-color: transparent;
  color: brown;
  font-size: 4rem;
  font-weight: 600;
  height: var(--slide-height);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.4em;
  -moz-column-gap: 2em;
       column-gap: 2em;
  align-items: center;
  justify-content: center;
}

.canvasplaceholder {
  background-color: #B88B4A;
  height: 100%;
  width: 100%;
}

.usercanvasplaceholder {
  background-color: white;
  border: solid #B88B4A;
  height: 80%;
}

.embla__controls {
  display: grid;
  background-color: #FFFD77;
  padding-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.embla__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #A27035;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 1rem 0 0 0;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

.embla__button--next {
  left: auto;
  right: 25%;
}

.embla__button--prev {
  left: 25%;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #B88B4A;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  background-color: #533E2D;
}

.theme-light {
  --brand-primary: variables.$primary-color;
  --brand-secondary: variables.$secondary-color;
  --brand-alternative: rgb(19, 120, 134);
  --background-site: variables.$primary-color;
  --background-code: rgb(244, 244, 244);
  --text-body: rgb(54, 49, 61);
  --text-comment: rgb(99, 94, 105);
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
  --admonition-note: rgb(46, 109, 188);
  --admonition-warning: rgb(255, 196, 9);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 47, 112, 193;
  --brand-secondary-rgb-value: 116, 97, 195;
  --brand-alternative-rgb-value: 19, 120, 134;
  --background-site-rgb-value: 249, 249, 249;
  --background-code-rgb-value: 244, 244, 244;
  --text-body-rgb-value: 54, 49, 61;
  --text-comment-rgb-value: 99, 94, 105;
  --text-high-contrast-rgb-value: 49, 49, 49;
  --text-medium-contrast-rgb-value: 99, 94, 105;
  --text-low-contrast-rgb-value: 116, 109, 118;
  --detail-high-contrast-rgb-value: 192, 192, 192;
  --detail-medium-contrast-rgb-value: 234, 234, 234;
  --detail-low-contrast-rgb-value: 240, 240, 242;
  --admonition-note-rgb-value: 46, 109, 188;
  --admonition-warning-rgb-value: 255, 196, 9;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.theme-dark {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

.illustration img {
  max-height: 500px;
  width: auto;
  max-width: 70%;
}

.wrapper, .wrapper2 {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  align-items: center;
  color: #322217;
}

.wrapper2 {
  background: url(./assets/hangitopening.gif) no-repeat center center fixed;
  background-size: cover;
}

.wrapper p {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.form {
  padding: 1.5rem;
  flex-basis: 100vw;
}

.form .heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.or {
  margin: 1rem 0;
}

.form label {
  display: block;
  margin: 1.25rem 0 1rem 0;
}

.form input {
  text-align: left;
  height: 2rem;
  width: 10rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  background-color: #F2F7BF;
  color: #322217;
  border: 2px solid #B88B4A;
}

.form input:focus {
  outline: none;
  border: 2px solid #533E2D;
}

.form button {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.5rem;
  border-radius: 0;
  text-align: center;
}

#e-mail {
  width: 90%;
  min-width: 15rem;
}

#loginname {
  width: 90%;
  min-width: 15rem;
}

@media (min-width: 542px) {
  body {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    max-width: 1100px;
  }
  .wrapper2 {
    justify-content: center;
  }
  .wrapper2 #pinfo {
    text-align: center;
  }
  .form {
    flex-basis: auto;
  }
  .form input {
    width: 90%;
  }
  .illustration img {
    max-width: 80%;
    height: auto;
  }
}
@media (max-width: 680px) {
  .illustration {
    display: none;
  }
}
.signUp .illustration {
  order: 2;
  justify-self: flex-end;
  margin-left: 2rem;
}

.profileWrapper {
  align-items: center;
}

.profileContainer {
  background-color: #F2F7BF;
  color: #322217;
  width: 50rem;
  max-height: 60vh;
  margin: 2.5rem auto auto auto;
  display: grid;
  grid-template-areas: "banner tab2" "userinfo tab2";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.banner {
  grid-area: tab;
  display: grid;
  grid-template-areas: "profile username";
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.profilecard {
  display: grid;
  grid-template-areas: "picture usernameplacehold" "picture date";
  margin-left: 1rem;
  margin-top: 1rem;
}

.profilebanner {
  grid-area: banner;
  max-height: 15rem;
  background-color: #533E2D;
}

.profilepicture {
  grid-area: picture;
  max-width: 100px;
  max-height: 100px;
  border: 2px solid #B88B4A;
  background-color: #F2F7BF;
}

.username {
  grid-area: usernameplacehold;
  margin-left: 10px;
}

#userusername {
  font-weight: bold;
  color: #322217;
}

.profilegallery {
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 0.5rem;
}

.gallerythumbnail {
  background-color: #B88B4A;
  width: 45%;
  height: 6rem;
  margin-bottom: 10px;
}

.loading-container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
}

.loading-title {
  font-family: "Candal", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #B88B4A;
  box-sizing: border-box;
}

@keyframes bounce {
  100% {
    translate: 0 -10px;
  }
}
.dots {
  display: inline-flex;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #B88B4A;
  border-radius: 10px;
  position: relative;
  margin-left: 6px;
  animation: bounce 0.5s infinite alternate;
}

.dot2 {
  animation-delay: 100ms;
  -webkit-animation-delay: 150ms;
}

.dot3 {
  animation-delay: 250ms;
  -webkit-animation-delay: 250ms;
}

:root {
  --canvas-background: #FFFFFF;
}

.paintCanvas {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: crosshair;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  background-color: white;
  flex: 1;
}

/* src/App.module.css */
.mainContent {
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  align-items: stretch;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
  min-height: 0;
}

.canvasContainer {
  display: flex;
  flex-grow: 1 1 auto;
  position: relative;
  overflow: hidden;
  outline: 5px solid #533E2D;
  background-color: white;
  width: 100%;
  min-height: 100%;
  min-width: 0;
}

/* Responsive adjustments */
@media (min-width: 768px) and (max-width: 900px) {
  .mainContent {
    padding: 1.5rem;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .mainContent {
    padding: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
    align-items: stretch;
  }
}
:root {
  font-family: "Khula", sans-serif, khula-regular;
  line-height: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-weight: 500;
  color: #874423;
  text-decoration: inherit;
}

a:hover {
  color: #321d0c;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#root {
  flex-grow: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #472014;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}/*# sourceMappingURL=styles.css.map */